Repository Quantco/spox: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, mypy, prettier

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e py39 -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjMtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --target-version py39
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude --target-version py39
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        require_serial: true
        exclude: ^(tests|api-coverage-tests)/
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$

Update ci.yml
  .github/workflows/ci.yml
Due: prettier

Fix failing CI action (#216)
  .github/workflows/ci.yml
Due: prettier

Add workflow to compute OpenSSF scorecard (#215)
  .github/workflows/scorecard.yml
Due: prettier

Run weekly CI on latest onnx RC
  .github/workflows/weekly.yml
  pixi.lock
  pixi.toml
Due: prettier

Update lock file
  pixi.lock
Due: none

Run weekly CI on latest onnx RC (#218)
  .github/workflows/weekly.yml
  pixi.lock
  pixi.toml
Due: prettier

Add a Security Policy
  SECURITY.md
Due: prettier

Add a Security Policy (#220)
  SECURITY.md
Due: prettier

Add ai.onnx opset version 22
  pixi.lock
  pixi.toml
  src/spox/opset/ai/onnx/ml/v4.py
  src/spox/opset/ai/onnx/ml/v5.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  tools/generate_opset.py
  tools/templates/docstring.jinja2
Due: insert-license, mypy

Changelog
  CHANGELOG.rst
Due: none

Fix changelog
  CHANGELOG.rst
Due: none

Add ai.onnx opset version 22 (#226)
  CHANGELOG.rst
  pixi.lock
  pixi.toml
  src/spox/opset/ai/onnx/ml/v4.py
  src/spox/opset/ai/onnx/ml/v5.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  tools/generate_opset.py
  tools/templates/docstring.jinja2
Due: insert-license, mypy

Fix release github action
  .github/workflows/build_and_publish.yml
  CHANGELOG.rst
Due: prettier

Fix release github action (#227)
  .github/workflows/build_and_publish.yml
  CHANGELOG.rst
Due: prettier

Always use an explicit IR version when calling make_model
  CHANGELOG.rst
  pixi.toml
  src/spox/_adapt.py
  src/spox/_graph.py
  src/spox/_standard.py
  src/spox/_utils.py
  tests/test_adapt.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Rephrase docstring and revert increasing the ir version to 10
  CHANGELOG.rst
  src/spox/_utils.py
Due: insert-license, mypy

Set date in changelog
  CHANGELOG.rst
Due: none

Always use an explicit IR version when calling make_model (#228)
  CHANGELOG.rst
  pixi.toml
  src/spox/_adapt.py
  src/spox/_graph.py
  src/spox/_standard.py
  src/spox/_utils.py
  tests/test_adapt.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Don't run publishing action on tag and release
  .github/workflows/build_and_publish.yml
Due: prettier

Test min onnxruntime version on CI
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
Due: prettier

Run CI on any pushed commit
  .github/workflows/ci.yml
Due: prettier

Typo
  .github/workflows/ci.yml
Due: prettier

Fix parametrization across backends
  pixi.lock
  tests/test_value_propagation.py
Due: insert-license

Don't fail fast
  .github/workflows/ci.yml
Due: prettier

Don't run publishing action on tag and release (#231)
  .github/workflows/build_and_publish.yml
Due: prettier

Test against an older (1.20.1) onnxruntime in ci (#232)
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
  tests/test_value_propagation.py
Due: insert-license, prettier

Use raw encoding for large numerical tensors
  CHANGELOG.rst
  src/spox/_utils.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Use upstream onnx.numpy_helper.from_array
  src/spox/_attributes.py
  src/spox/_graph.py
  src/spox/_standard.py
  src/spox/_utils.py
  tests/test_adapt.py
  tests/test_attr.py
  tests/test_inline.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Use raw encoding for numerical tensors (#235)
  CHANGELOG.rst
  src/spox/_attributes.py
  src/spox/_graph.py
  src/spox/_standard.py
  src/spox/_utils.py
  tests/test_adapt.py
  tests/test_attr.py
  tests/test_inline.py
Due: insert-license, mypy

avoid 21 openmp
  pixi.lock
  pixi.toml
Due: none

was marked broken on windows
  pixi.lock
  pixi.toml
Due: none

use matplotlib-base instead of matplotlib
  pixi.lock
  pixi.toml
Due: none

Bump Python to >=3.10
  .github/workflows/ci.yml
  pixi.toml
  pyproject.toml
  src/spox/_adapt.py
  src/spox/_attributes.py
  tests/test_attr.py
  tests/test_inline.py
Due: insert-license, mypy, prettier

Suppress typing issue
  src/spox/_value_prop.py
Due: insert-license, mypy

Update dependencies
  pixi.lock
Due: none

Add latest opsets
  .pre-commit-config.yaml
  docs/index.rst
  pixi.lock
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tools/generate_opset.py
Due: insert-license, mypy, prettier

Update pixi.toml
  pixi.lock
  pixi.toml
Due: none

Update lockfile
  pixi.lock
Due: none
