Repository Quantco/spox: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, mypy, prettier

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e py310 -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjMtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
          --use-current-year
        language: system
        types: [python]
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        require_serial: true
        exclude: ^(tests|api-coverage-tests)/
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$

chore: Update codeql-action/upload-sarif version and set version comment correctly
  .github/dependabot.yml
  .github/workflows/scorecard.yml
Due: prettier

chore: Update codeql-action/upload-sarif version and set version comment correctly (#284)
  .github/dependabot.yml
  .github/workflows/scorecard.yml
Due: prettier

Update link for onnx-rc candidates
  pixi.toml
Due: none

Update link for onnx-rc candidates (#285)
  pixi.toml
Due: none

Add failing test case
  tests/test_value_propagation.py
Due: insert-license

Fix and changelog
  CHANGELOG.rst
  src/spox/_value_prop.py
Due: insert-license, mypy

Disable mitigation for bug in onnxruntime CSE triggered during value propagation (#301)
  CHANGELOG.rst
  src/spox/_value_prop.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Experiment
  CHANGELOG.rst
  src/spox/_value_prop.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Update lock file and re-render opsets
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
Due: insert-license, mypy, prettier

Add changelog and latest opsets
  CHANGELOG.rst
  src/spox/opset/ai/onnx/v25.py
  src/spox/opset/ai/onnx/v26.py
  src/spox/opset/ai/onnx/v27.py
  tools/generate_opset.py
Due: insert-license, mypy

Add link to new opset versions in docs
  docs/index.rst
Due: none

Add failing test case
  tests/test_constructors.py
Due: insert-license

Fix split constructor function
  CHANGELOG.rst
  src/spox/_type_inference_utils.py
  src/spox/opset/ai/onnx/v18.py
  tools/generate_opset.py
  tools/templates/preamble.jinja2
Due: insert-license, mypy

License headers
  src/spox/_type_inference_utils.py
  tests/test_constructors.py
Due: insert-license, mypy

Update lockfile and opset definitions (#313)
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/index.rst
  pixi.lock
  pixi.toml
  pyproject.toml
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v25.py
  src/spox/opset/ai/onnx/v26.py
  src/spox/opset/ai/onnx/v27.py
  tools/generate_opset.py
Due: insert-license, mypy, prettier

Derive number of outputs only from static shape, not prop value
  src/spox/_type_inference_utils.py
  tests/test_constructors.py
Due: insert-license, mypy

Fix split constructor function (#314)
  CHANGELOG.rst
  src/spox/_type_inference_utils.py
  src/spox/opset/ai/onnx/v18.py
  tests/test_constructors.py
  tools/generate_opset.py
  tools/templates/preamble.jinja2
Due: insert-license, mypy

Add @sgilm as code owner
  .github/CODEOWNERS
Due: none

Add @sgilm as code owner (#315)
  .github/CODEOWNERS
Due: none

Add failing test case
  pixi.lock
  tests/type_inference/test_integer_overflow_during_shape_inference.py
Due: insert-license

Retry shape inference on error
  src/spox/_standard.py
Due: insert-license, mypy

Changelog
  CHANGELOG.rst
Due: none

Typos
  src/spox/_standard.py
Due: insert-license, mypy

Disable upstream data propagation when encountering overflow error (#331)
  CHANGELOG.rst
  pixi.lock
  src/spox/_standard.py
  tests/type_inference/test_integer_overflow_during_shape_inference.py
Due: insert-license, mypy
