Repository Quantco/spox: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, mypy, prettier

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjMtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg== --dynamic-years --comment-style "#"
  language: system

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

use matplotlib-base instead of matplotlib (#262)
  pixi.lock
  pixi.toml
Due: none

Fix pre-commit env and update typehints for new mypy defaults
  .pre-commit-config.yaml
  src/spox/_future.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
Due: insert-license, mypy, prettier

Fix type hints
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tools/templates/extras/const.jinja2
Due: insert-license, mypy

Rerender opsets using latest onnx
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  tools/templates/extras/const.jinja2
Due: insert-license, mypy

Changelog
  CHANGELOG.rst
Due: none

Support all data types up to opset 22
  CHANGELOG.rst
  pixi.lock
  pixi.toml
  tests/test_inline.py
  tests/test_public.py
  tests/test_tensor.py
Due: insert-license

Allow usage of inline with disable value propagation
  src/spox/_inline.py
  tests/test_inline.py
Due: insert-license, mypy

Please the linter
  src/spox/_adapt.py
  src/spox/_attributes.py
  src/spox/_inline.py
  tests/test_attr.py
  tests/test_inline.py
Due: insert-license, mypy

Review comments
  tests/conftest.py
  tests/test_inline.py
  tests/test_public.py
  tests/test_tensor.py
Due: insert-license

Add value prop test
  tests/conftest.py
  tests/test_value_propagation.py
Due: insert-license

Add new opsets (#264)
  CHANGELOG.rst
  docs/index.rst
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tools/generate_opset.py
Due: insert-license, mypy

Bump Python to 3.10 (#263)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/index.rst
  pixi.lock
  pixi.toml
  pyproject.toml
  src/spox/_adapt.py
  src/spox/_attributes.py
  src/spox/_future.py
  src/spox/_value_prop.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tests/test_attr.py
  tests/test_inline.py
  tools/generate_opset.py
  tools/templates/extras/const.jinja2
Due: insert-license, mypy, prettier

Review comment
  tests/test_tensor.py
Due: insert-license

Re-render opsets with onnx 1.20
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tools/generate_opset.py
  tools/templates/docstring.jinja2
Due: insert-license, mypy

Avoid breaking change in schema definitions in onnx 1.20.0
  pixi.lock
  pixi.toml
Due: none

Rerender opsets with onnx 1.20.0
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: prettier

Use modern typing syntax throughout
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  src/spox/_build.py
  src/spox/_debug.py
  src/spox/_fields.py
  src/spox/_function.py
  src/spox/_graph.py
  src/spox/_inline.py
  src/spox/_internal_op.py
  src/spox/_schemas.py
  src/spox/_shape.py
  src/spox/_standard.py
  src/spox/_traverse.py
  src/spox/_value_prop.py
  src/spox/_var.py
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/ml/v4.py
  src/spox/opset/ai/onnx/ml/v5.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tests/conftest.py
  tests/full/test_lifting.py
  tests/test_subgraphs.py
  tools/templates/preamble.jinja2
Due: insert-license, mypy, prettier

Regenerate opsets
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/ml/v4.py
  src/spox/opset/ai/onnx/ml/v5.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
Due: insert-license, mypy

Replace pre_init and post_init with regular super usage
  src/spox/_inline.py
  src/spox/_internal_op.py
  src/spox/_node.py
Due: insert-license, mypy

Remove workarounds for long upstreamed type/shape inference
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/ml/v4.py
  src/spox/opset/ai/onnx/ml/v5.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tools/generate_opset.py
  tools/templates/type_inference/categorymapper1.jinja2
  tools/templates/type_inference/treeensembleclassifier3.jinja2
  tools/templates/type_inference/treeensembleregressor3.jinja2
Due: insert-license, mypy

Use modern typing syntax throughout (#269)
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  src/spox/_build.py
  src/spox/_debug.py
  src/spox/_fields.py
  src/spox/_function.py
  src/spox/_graph.py
  src/spox/_inline.py
  src/spox/_internal_op.py
  src/spox/_schemas.py
  src/spox/_shape.py
  src/spox/_standard.py
  src/spox/_traverse.py
  src/spox/_value_prop.py
  src/spox/_var.py
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/ml/v4.py
  src/spox/opset/ai/onnx/ml/v5.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tests/conftest.py
  tests/full/test_lifting.py
  tests/test_subgraphs.py
  tools/templates/preamble.jinja2
Due: insert-license, mypy, prettier

Support all data types used in version 22 of the ai.onnx opset (#265)
  CHANGELOG.rst
  pixi.lock
  pixi.toml
  tests/conftest.py
  tests/test_inline.py
  tests/test_public.py
  tests/test_tensor.py
  tests/test_value_propagation.py
Due: insert-license

Remove version pin
  pixi.lock
  pixi.toml
Due: none

Rerender opsets onnx 1.20.0 (#268)
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v18.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v20.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v22.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tools/generate_opset.py
  tools/templates/docstring.jinja2
Due: insert-license, mypy, prettier

License dates
  tests/test_inline.py
  tests/test_public.py
  tests/test_tensor.py
  tests/test_value_propagation.py
  tools/generate_opset.py
Due: insert-license, mypy

Remove pre_init and post_init member functions (#270)
  src/spox/_inline.py
  src/spox/_internal_op.py
  src/spox/_node.py
  tests/test_inline.py
  tests/test_public.py
  tests/test_tensor.py
  tests/test_value_propagation.py
  tools/generate_opset.py
Due: insert-license, mypy

Rebase onto origin/main
  CHANGELOG.rst
  src/spox/_fields.py
  src/spox/_inline.py
  src/spox/_internal_op.py
  src/spox/_public.py
  src/spox/_standard.py
  src/spox/_value_prop.py
  src/spox/_var.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tests/test_custom_operator.py
  tests/test_inline.py
  tests/test_value_propagation.py
  tools/generate_opset.py
  tools/templates/value_propagation/constant13.jinja2
Due: insert-license, mypy

Rebase onto origin/main (#267)
  CHANGELOG.rst
  src/spox/_fields.py
  src/spox/_inline.py
  src/spox/_internal_op.py
  src/spox/_public.py
  src/spox/_standard.py
  src/spox/_value_prop.py
  src/spox/_var.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
  src/spox/opset/ai/onnx/v23.py
  src/spox/opset/ai/onnx/v24.py
  tests/test_custom_operator.py
  tests/test_inline.py
  tests/test_value_propagation.py
  tools/generate_opset.py
  tools/templates/value_propagation/constant13.jinja2
Due: insert-license, mypy

Set release date
  CHANGELOG.rst
Due: none

Set release date (#271)
  CHANGELOG.rst
Due: none

Remove unnecessary and costly calls to typing.get_type_hints
  CHANGELOG.rst
  src/spox/_build.py
  src/spox/_fields.py
  src/spox/_node.py
  src/spox/_public.py
  src/spox/_var.py
  tests/test_custom_operator.py
Due: insert-license, mypy

Remove unnecessary and costly calls to typing.get_type_hints (#274)
  CHANGELOG.rst
  src/spox/_build.py
  src/spox/_fields.py
  src/spox/_node.py
  src/spox/_public.py
  src/spox/_var.py
  tests/test_custom_operator.py
Due: insert-license, mypy

Remove @adityagoel4512 from CODEOWNERS
  .github/CODEOWNERS
Due: none

Trigger CI on PRs
  .github/workflows/build_and_publish.yml
  .github/workflows/ci.yml
Due: prettier

Cancel on sha
  .github/workflows/build_and_publish.yml
  .github/workflows/ci.yml
Due: prettier

Revert "Cancel on sha"
  .github/workflows/build_and_publish.yml
  .github/workflows/ci.yml
Due: prettier

Trigger CI on PRs (#282)
  .github/workflows/build_and_publish.yml
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  insert-license: any of: \.py$, but not: ^.pixi$
  mypy: any of: \.py$ and not (^(tests|api-coverage-tests)/) and not (^.pixi$)
  prettier: any of: \.(md|yml|yaml)$, but not: ^.pixi$
