Repository Quantco/spox: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, mypy, prettier

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e py39 -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjMtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --target-version py39
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude --target-version py39
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        require_serial: true
        exclude: ^(tests|api-coverage-tests)/
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$

init
  src/spox/_type_system.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
  tests/type_inference/test_loop.py
  tools/generate_opset.py
  tools/templates/type_inference/loop16-fix.jinja2
Due: insert-license, mypy

Remove outdated jinja templates
  src/spox/opset/ai/onnx/v17.py
  tools/generate_opset.py
  tools/templates/extras/promote.jinja2
  tools/templates/extras/xif.jinja2
  tools/templates/extras/xloop.jinja2
  tools/templates/type_inference/compress11.jinja2
  tools/templates/type_inference/if16.jinja2
  tools/templates/type_inference/loop16.jinja2
  tools/templates/type_inference/onehot11.jinja2
Due: insert-license, mypy

Remove even more code
  src/spox/opset/ai/onnx/ml/v3.py
  tests/type_inference/test_tree_ensemble_classifier.py
  tools/generate_opset.py
  tools/templates/type_inference/binarizer1.jinja2
  tools/templates/type_inference/categorymapper1.jinja2
  tools/templates/type_inference/onehotencoder1.jinja2
  tools/templates/type_inference/treeensembleregressor3.jinja2
Due: insert-license, mypy

init
  CHANGELOG.rst
  src/spox/_type_inference_utils.py
  src/spox/_type_system.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
  tests/type_inference/test_loop.py
  tools/generate_opset.py
  tools/templates/preamble.jinja2
  tools/templates/type_inference/loop16-fix.jinja2
Due: insert-license, mypy

Run actions on PR
  .github/workflows/ci.yml
Due: prettier

Fix ref
  .github/workflows/ci.yml
Due: prettier

Copy glum
  .github/workflows/ci.yml
Due: prettier

Run CI on pull requests (#200)
  .github/workflows/ci.yml
Due: prettier

Fix diff
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
Due: insert-license, mypy

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Fix shape inference for Loop (#198)
  CHANGELOG.rst
  src/spox/_type_inference_utils.py
  src/spox/_type_system.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
  tests/type_inference/test_loop.py
  tools/generate_opset.py
  tools/templates/preamble.jinja2
  tools/templates/type_inference/loop16-fix.jinja2
Due: insert-license, mypy

Fix license
  src/spox/opset/ai/onnx/ml/v3.py
  tests/type_inference/test_tree_ensemble_classifier.py
Due: insert-license, mypy

Update license
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
Due: insert-license, mypy

Fix license
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
Due: insert-license, mypy

Revert change on category mapper and tree ensemble
  tools/generate_opset.py
  tools/templates/type_inference/categorymapper1.jinja2
  tools/templates/type_inference/treeensembleregressor3.jinja2
Due: insert-license, mypy

Fix generation
  src/spox/opset/ai/onnx/ml/v3.py
Due: insert-license, mypy

Remove unused `jinja` templates (#199)
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/v17.py
  tests/type_inference/test_tree_ensemble_classifier.py
  tools/generate_opset.py
  tools/templates/extras/promote.jinja2
  tools/templates/extras/xif.jinja2
  tools/templates/extras/xloop.jinja2
  tools/templates/type_inference/binarizer1.jinja2
  tools/templates/type_inference/compress11.jinja2
  tools/templates/type_inference/if16.jinja2
  tools/templates/type_inference/loop16.jinja2
  tools/templates/type_inference/onehot11.jinja2
  tools/templates/type_inference/onehotencoder1.jinja2
Due: insert-license, mypy

Initial POC
  src/spox/_fields.py
  src/spox/_function.py
  src/spox/_future.py
  src/spox/_inline.py
  src/spox/_node.py
  src/spox/_public.py
  src/spox/_standard.py
  src/spox/_value_prop.py
  src/spox/_var.py
Due: insert-license, mypy

Implement compat layer
  src/spox/__init__.py
  src/spox/_fields.py
  src/spox/_function.py
  src/spox/_future.py
  src/spox/_inline.py
  src/spox/_node.py
  src/spox/_public.py
  src/spox/_standard.py
  src/spox/_value_prop.py
  src/spox/_var.py
Due: insert-license, mypy

Compat
  src/spox/__init__.py
  src/spox/_future.py
  src/spox/_value_prop_backend.py
Due: insert-license, mypy

Prototype
  src/spox/_inline.py
  src/spox/_value_prop_backend.py
Due: insert-license, mypy

Add tests
  CHANGELOG.rst
  src/spox/_future.py
  src/spox/_value_prop_backend.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Update CHANGELOG
  CHANGELOG.rst
Due: none

Comments after code review
  src/spox/_fields.py
  src/spox/_function.py
  src/spox/_inline.py
  src/spox/_node.py
  src/spox/_public.py
  src/spox/_standard.py
  src/spox/_value_prop.py
  src/spox/_value_prop_backend.py
Due: insert-license, mypy

Comments after code review
  src/spox/_value_prop_backend.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Expose
  src/spox/_future.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Revert to main
  src/spox/_var.py
Due: insert-license, mypy

Revert to main
  src/spox/_value_prop.py
Due: insert-license, mypy

Fix tests
  src/spox/_value_prop_backend.py
Due: insert-license, mypy

Fix tests
  tests/test_value_propagation.py
Due: insert-license

Fix lint
  src/spox/_future.py
  src/spox/_scope.py
  src/spox/_value_prop.py
  src/spox/opset/ai/onnx/ml/v3.py
  src/spox/opset/ai/onnx/v17.py
  src/spox/opset/ai/onnx/v19.py
  src/spox/opset/ai/onnx/v21.py
  tests/future/test_var_operators.py
  tests/test_value_propagation.py
Due: insert-license, mypy

Allow possible third pass
  tools/generate_opset.py
Due: insert-license, mypy

Use pixi for opset ci
  tools/generate_opset.sh
Due: none

Remove script
  .github/workflows/ci.yml
  tools/generate_opset.sh
Due: prettier

Fix issue in workflow format
  .github/workflows/ci.yml
Due: prettier

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/build_and_publish.yml
  .github/workflows/weekly.yml
Due: prettier

[StepSecurity] ci: Harden GitHub Actions (#214)
  .github/workflows/build_and_publish.yml
  .github/workflows/weekly.yml
Due: prettier

Add workflow to compute OpenSSF scorecard
  .github/workflows/scorecard.yml
Due: prettier

Fix failing CI action
  .github/workflows/ci.yml
Due: prettier

Update ci.yml
  .github/workflows/ci.yml
Due: prettier
